* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#map { height: 1000px; width: 2000px; }

.container {
    position: absolute; /* Position the container relative to the map */
    top: 50%; /* Center vertically */
    left: 20px; /* Position it on the left side */
    transform: translateY(-50%); /* Adjust for vertical centering */
    width: 300px;
    height: 250px; /* Adjust height dynamically */
    background-color: rgba(15, 204, 230, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    padding: 20px; /* Add padding for better spacing */
    z-index: 1000; /* Ensure it appears above the map */
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.form-group {
    display: flex;
    gap: 10px;
}